.fav-recipes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2em;
  margin-bottom: 1px;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}

.recipe-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  color: #a360b2;
  padding-right: 5px;
  height: fit-content;
}

.recipe-title:hover {
  text-decoration: underline;
}

.recipe-details {
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  width: 330px;
}

.recipe-details ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.recipe-details ol {
  list-style: none;
  padding-left: 0;
  margin: 10px 0;
}

.recipe-details ul li,
.recipe-details ol li {
  margin-bottom: 5px;
  line-height: 1.4;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.recipe-title .icon-button {
  font-size: 20px;
}

.fav-recipes-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.fav-recipes-popup-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.no-recipes-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
