input {
    padding: 10px;
    border: 0.5px;
    border-color: white;
    border-radius: 15px;
    font-size: 14px;
    margin: 5px;
}

input:focus {
    border: 2px solid #256a70;
    box-shadow: 0 0 5px rgba(131, 217, 225, 0.5);
  }

#item-input {
    margin-left:5px;
  }