.compartment-container {
  background-color: rgb(156, 216, 236);
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border-radius: 30px;
  height: fit-content;
  width: 250px;
  max-width: 250px;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0, 0, 0.1);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.compartment-title {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 22px;
}

.compartment {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-compartment {
  background-color: lightblue;
  flex: 1;
}

.second-compartment,
.third-compartment {
  flex: 1;
  margin-top: 10px;
}

.third-compartment {
  background-color: lightpink;
}

.second-compartment {
  background-color: rgb(114, 181, 114);
}

.flex-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
}

.second-third-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .compartment-container {
    flex-direction: column;
  }

  .compartment {
    flex: none;
    height: auto;
  }

  .second-compartment,
  .third-compartment {
    margin-top: 10px;
  }
}
