.header {
padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: solid;
  border-color: aliceblue;
}

.header button {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
    .header {
        margin-right: 10px;
        padding: 10px;
    }
}