.tooltip {
    position: relative;
    display: inline-block;
    align-content: center;
  }
  
  /* Tooltip text */
  .tooltip .tool-tip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s;

    /* Prevent text from wrapping */
    white-space: nowrap;
   
     /* Position the tooltip */
    width: auto;
    position: absolute;
    bottom: 100%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .tooltip:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
  }

  .tooltip .tool-tip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
  }