.update-password-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 10px;
}

.update-password-content input {
    margin-bottom: 10px;
}

.personal-details-content h5 {
    margin-top: 5px;
    margin-bottom: -5px;
    padding-left: 10px;
}