html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--font-nunito), -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
}

#__next {
    width: 100%;
    height: 100%;
    position: absolute;
}

